* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-flow: column nowrap;
}

header {
    background-color: rgb(76, 159, 231);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.searchbar {
    height: 30px;
    width: 50%;
    display: flex;
    justify-content: center;
}

.searchbar__input {
    height:100%;
    width: 70%;
    margin-right: 0;
    padding-right: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: 1px solid rgb(61, 51, 51);
    border-right: none;
    background-color: transparent;
}

.searchbar__searchButton {
    height:100%;
    width: 10%;
    margin-left: 0;
    padding-left: 0;
    border: 1px solid rgb(61, 51, 51);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-left: none;
    background-color: transparent;
}

input {
    font-size: 1.25rem;
    padding-left: 3rem;
}

button:focus,
input:focus {
    outline: none;
}

.title {
    margin-top: 10px;;
}

.title__line {
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray; 
    width: 100%;
}




/* RESULT */
.result {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 10px;
}

.card {
    height: 350px;
    width: 250px;
    margin: 10px;
    border: 1px solid rgb(209, 198, 198);
    display: flex;
    flex-flow: column nowrap;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 10px 0px;
    cursor: pointer;
    overflow: hidden;
}

.card:hover {
    box-shadow: rgba(184, 15, 15, 0.9) 0px 4px 10px 0px;
    height: 360px;
    width: 260px;
    transition: ease-in;
}

a {
    text-decoration: none;
    color: inherit;
}

.card > div {
    margin: 5px 0;
}
.card__cover {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}
.card__cover img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.card__collectionName {
    font-weight: bold;
    font-style: italic;
    font-size: 1.15rem;
    min-height: 50px;
}

.card__relaseDate {
    min-height: 50px;
    font-size: 0.9rem;
   
}

.card__price {
    font-size: 1.5rem;
}

/* ERROR */
.result--error {
    color: rgb(212, 78, 78);
    text-align: center;
    font-size: 1.5rem;;
}