body {
  display: flex;
  justify-content: center;
}

.content {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  width: 500px;
}

.signup,
.top-row,
.sec-row,
.thrd-row,
.bot-row,
.check-row,
.button-row {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.signup {
  font-size: x-large;
  font-family: Arial;
  font-weight: bold;
}

input[type=text] {
  border: 1px solid #808080;
  border-radius: 4px;
  font-size: 16px;
  width:48%;
  height:30px;
  margin-right:1%;
  margin-left:1%;
  text-indent:5px;
}

input[type=text]:focus {
  outline: none !important;
  border: 1px solid #1037cf;
  box-shadow: 0 0 10px #719ECE;
}

#phone, #email {
  width:100%;
}

#reg, #signin {
  width: 46%;
  height: 35px;
  margin-right: 2%;
  margin-left: 2%;
  border: 1px solid #808080;
  border-radius: 4px;
  font-size:medium;
  font-weight:bold;
  color:#ffffff;
}
a {
  text-decoration: none;
}
#reg {
  background-color:#2a47b9;
}
#signin {
  background-color:#137e0b
}
#reg-color {
  background-color: #2a47b9;
  border-radius: 4px;
  color: #ffffff;
}