@media only screen and (max-width: 1366px){
    main{
        padding:var(--twoside-padding-sm);
    }
    .card{
        width: var(--card-width-md);
        height: var(--card-heigt-md);
    }
    .card-content{
        height:calc(var(--card-heigt-md) * 0.45);
        width:var(--card-width-md);
        padding: 10px 20px;
    }
    .card-container{
        padding: 20px 0;
    }
    .card-content>p{
        padding: 1.5em 0;
        width:calc(var(--card-width-md) - 40px);
    }
}

@media only screen and (max-width: 1024px){
    header{
        padding:var(--twoside-padding-sm);
    }
    footer{
        padding:var(--twoside-padding-sm);
    }
    #post-gallery{
        grid-template-columns: minmax(0,1fr);
        grid-template-rows: 1fr;
        row-gap: 0;
        padding:0;
    }
    .card-row{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hideen-on-mdscreen{
        display:none;
    }


}



@media only screen and (max-width: 550px){

    body{
        font-size: 14px;
        line-height: 1.5;
    }
    header{
        background-color: #fff; 
    }
    /*toggle menu*/
    #menu-on-smscreen{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        
    }
    #toggle-bttn input{
        display: inline-block;
        width: 40px;
        height: 39px;
        cursor: pointer;
        position:absolute;
        top:20px;
        left:0;
        opacity: 0; /* hide this */
        z-index: 10; /* and place it over the hamburger */
        -webkit-touch-callout: none;
    }
    #toggle-bttn span{
        display: block;
        width: 32px;
        height: 3px;
        margin-bottom: 5px;
        position: relative;
        background: var(--primary-variant);
        border-radius: 3px;  
        z-index: 9;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
    }
    #toggle-bttn span:first-child{
        transform-origin: 0% 0%;
    }
    #toggle-bttn span:nth-last-child(2){
        transform-origin: 0% 100%;
    }
    #toggle-bttn input:checked ~ span{
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
    }
    #toggle-bttn input:checked ~ span:nth-last-child(2){
        opacity: 1;
        transform: rotate(-45deg) translate(0, 1px);
    }
    #toggle-bttn input:checked ~ span:nth-last-child(3){
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    #toggle-bttn ul{
        position: absolute;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        width: 200px;
        height: calc(100vh + 100px);
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        background:#fff;
        /* to stop flickering of text in safari */
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        z-index:8;
    }
    #toggle-bttn ul>li{
        display: block;
    }
    #toggle-bttn input:checked ~ ul{
        transform: none;
    }
    #menu-on-smscreen>span{
        font-size:30px;
        color:var(--primary-variant);
    }
    .hideen-on-smscreen{
        display:none;
    }
    .hidden-on-lgscreen{
        display:block;
    }
    

    .grid-container{
        grid-template-columns: 1fr;
        column-gap: 0;
    }
    .post{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    button{
        font-size:16px;
        border-radius:20px;
        padding: 9px 14px;
    }
    #post-gallery{
        margin: 20px auto;
    }
    /*card*/
    .card{
        width: var(--card-width-sm);
        height: var(--card-height-sm);
        background-position: 50% 100%;

    }
    .card-content{
        height:calc(var(--card-height-sm) * 0.5);
        width:var(--card-width-sm);
        padding: 8px 10px;
    }
    h3.card-title{
        padding-top:16px;
        padding-bottom:0;
    }
    .card-content>p{
        padding: 1em 0;
        width:calc(var(--card-width-sm) - 40px);
        font-size: 16px;
    }
    .hashtag-container{
        margin-top:0.5em;
    }
   }
   