
@media only screen and (max-width: 500px){

    body{
        font-size: 14px;
        line-height: 1.5;
    }
    main{
        padding:var(--twoside-padding-sm);
    }
    .sidebar{
        display:none;
    }
    .post{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    button{
        font-size:16px;
        border-radius:20px;
        padding: 9px 14px;
    }
   }
   