@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Source+Serif+Pro:ital,wght@0,600;1,600&display=swap');

:root{
    --paragraph-sm: 0.8em;
    --paragraph-tn: 0.64em;
    --primary-color: #5BB2F0;
    --primary-variant: #B9DEF9;
    --secondary-color: #EC2D9C;
    --secondary-variant: #F05BB2;
    --text-color: #020E17;
    --hint-color: #9A9A9A;;
    --ui-color: #E9E9E9;;
    --heading-font: 'Source Serif Pro', serif;
    --paragraph-font: 'Montserrat', sans-serif;
    --fontweight-semibod: 600;
    --fontweight-light: 300;
    --twoside-padding-lg: 0 8vh;
    --twoside-padding-sm: 0 5vh;
    --two-columns-lg:2fr 1fr;
    --one-column-lg: 1fr;
    --row-lg:1fr 1fr;
    --travel-picture: url('https://source.unsplash.com/tQpypKA92k8/1920x2400');
    --design-picture: url('https://source.unsplash.com/LPWl2pEVGKc/1920x2400');
    --web-picture: url('https://source.unsplash.com//m_HRfLhgABo/1920x1278');
    --life-picture:url('https://source.unsplash.com/fMD_Cru6OTk/1920x1080');
    --card-width-lg:550px;
    --card-height-lg:600px;
    --card-width-md:450px;
    --card-heigt-md:500px;
    --card-width-sm: 280px;
    --card-height-sm: 330px;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--paragraph-font);
}


/*font-style*/
.italic{
    font-style: italic;
}
.semi-bold{
    font-weight:var(--fontweight-semibod);
}
.light{
    font-weight: var(--fontweight-light);
}
.underline{
    text-decoration: underline;
}
h1,h2,h3{
    padding: 0.8em 0 0.3em 0;
}
h4,h5{
    padding:1em 0 0.8em 0;
}
h1{
    font-size: 3.052em;
    font-family: var(--heading-font);
}
h2{
    font-size: 2.441em;
    font-family: var(--heading-font);

}
h3{
    font-size: 1.953em;
    font-family: var(--heading-font);
}
h4{
    font-size: 1.563em;
    font-family: var(--heading-font);
}
h5{
    font-size: 1.25em;
    font-family: var(--heading-font);
}
#blog-title-smscreen{
    padding: 0.8em 0;
}
#toggle-bttn h4{
    padding: 0.8em 0 0.3em 0;
}

/*Paragraph styles*/
p{
    padding: 1.5em 0;
}
.ps{
    font-size: 0.8em;
    padding: 0.3em 0;
}
.pt{
    font-size: 0.64em;
}
.hr{
    border-bottom: 1px solid var(--ui-color);
}
.border-block{
    border: 1px solid var(--hint-color);
    padding: 0.5em;
}

/*list style*/
ul, ol{
    padding: 1em 2em;
}
li{
    padding: 0.5em 0.3em;
}
.none-dec{
    list-style: none;
}
.none-indent{
    padding-right:0;
    padding-left:0;
}
#toggle-bttn>ul{
    padding: 1em 0;
}




/* Text color*/
.primary-color{
    color:var(--primary-color);
}
.primary-variant{
    color:var(--primary-variant)
}
.secondary-color{
    color:var(--secondary-color);
}
.secondary-variant{
    color:var(--secondary-variant);
}
.ui-color{
    color:var(--ui-color);
}
.hint-color{
    color:var(--hint-color);
}

/*button*/
button{
    border-radius: 25px;
    background-color: transparent;
    /* border-width: 1.5px;
    border-style: solid; */
    text-decoration: none;
    text-align:center;
    display:inline-block;
    margin-right: 10px;
    font-size:18px;
    border-radius:25px;
    padding: 12px 18px;
}


.btn-primary{
    border: 2px solid var(--primary-color);
    /* border-color: var(--primary-color); */
    color:var(--primary-color);
    transform:translate(0,0);
    transition: background-color .3s, box-shadow .3s, transform .3s ease;
}
.btn-secondary{
    border: 2px solid var(--hint-color);
    /* border-color: var(--hint-color); */
    color:var(--hint-color);
    transform:translate(0,0);
    transition: color .3s, background-color .3s, box-shadow .3s, transform .3s ease;
}
.btn-primary:hover{
 background-color: #fff;
 box-shadow: 2px 3px #2D9CEC;
 
}
.btn-primary:active{
    box-shadow: none;
    background-color:var(--primary-variant);
    color:#fff;
    transform:translateY(3px);
}
.btn-secondary:hover{
    background-color: #fff;
    box-shadow: 2px 3px #808080;;
}
.btn-secondary:active{
    box-shadow: none;
    background-color:#CCCCCC;;
    color:#fff;
    transform:translateY(3px);
}
.button-group{
    padding:1em 0;
}




body{
    font-size: 16px;
    color:var(--text-color);
    line-height: 1.4;
}
.container{
    display: flex;
    flex-direction: column;
}
header{
    background-color: var(--primary-variant);
    position: sticky;
    top:0;
    padding:var(--twoside-padding-lg);
    text-align: center;
    z-index:999;
    
}
/*toggle menu*/
#menu-on-smscreen{
    display:none;
    position: relative;    
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    
}
main{
    flex: 1 0 auto;
    padding:var(--twoside-padding-lg)
}
footer{
    background-color: var(--ui-color);
    flex-shrink: 0;
    padding:var(--twoside-padding-lg);
    text-align: center;
}


/*Content grid*/
.grid-container{
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows:1fr;
    column-gap: 2.5em;
    padding:40px 0;
}
#post-gallery{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 3em;
    margin:40px auto;
    padding:var(--twoside-padding-lg);
}
.post{
    grid-column-start: 1;
    grid-column-end: 2;
}
.sidebar{
    grid-column-start: 2;
    grid-column-end: 3;
    padding-top: calc(3.052em * 0.8);
}
#blog-title-lgscreen{
    padding: 1em 0;
}
#about{
    background-color: var(--ui-color);
    padding: 0 1.5em 1.5em 1.5em;
}
a{
    transition:color 0.3s ease;
}
a:hover{
    color:var(--secondary-variant);
}
.icon-holder{
    font-size:32px;
    display:inline-block;
    padding: 0.5em 0.5em 0.5em 0;
}


/*card*/

.card-row{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.card{
    width: var(--card-width-lg);
    height: var(--card-height-lg);
    box-shadow: 2px 2px 5px var(--primary-variant);
    border-radius: 8px;
    transition:box-shadow .3s ease;
    /* background-image:url('https://source.unsplash.com/fMD_Cru6OTk/1920x1280'); */
    background-size: cover;
    background-position: 50% 80%;
    position:relative;
    background-repeat: no-repeat;
}
.card:hover{
    box-shadow: 4px 4px 5px var(--primary-variant);
}
.hashtag{
    padding: 5px;
    color:white;
}
.life{
    background-color: var(--primary-color);
}
.travel{
    background-color: var(--secondary-color);
}
.design{
    background-color: var(--primary-variant);
}
.web-dev{
    background-color: var(--secondary-variant);
}
.card-content{
    position: absolute;
    bottom:0;
    height:calc(var(--card-height-lg) * 0.45);
    width:var(--card-width-lg);
    background-color:white;
    padding: 10px 30px;
}
.card-content>p:first-child{
    overflow:hidden;
    height: 60px;
    width:calc(550px - 60px);
}
.car-content p:last-of-type{
    margin-bottom: 20px;
}
.design-post{
    background-image:var(--design-picture);
}
.travel-post{
    background-image: var(--travel-picture);
}
.life-post{
    background-image: var(--life-picture);
}
.web-post{
    background-image: var(--web-picture);
}
