@import url("card.css");
* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    padding-left: 10rem;
    padding-right: 10rem;

}

.container {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 1fr 3rem;
    height: 100%;    
}

header {
    grid-area: header;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main {
    grid-area: main;
    background-color: antiquewhite;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 8rem;
}
footer {
    grid-area: footer;
    background-color: azure;
}