@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 18px; 
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 50%;
    margin:3% auto;
    box-sizing: border-box;
}

header{
    text-align: center;
}

.row{
    display:flex;
    flex-direction: row;
    /* flex-wrap:wrap; */ 
    margin:0.2em 0;
}
.row:nth-of-type(n+5){
    margin: 0.5em 0;
}
.row:nth-of-type(5){
    margin:0.5em;
}

input[type='text']
{
    border: 1px solid #cccccc;
    height: 2.5em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    margin:0.5em;  
    font-size:18px;
    font-family: 'Open Sans', sans-serif;
    padding: 0 0.5em;
    min-width: 0;
}
input[type='text']:focus{
    outline: none;
    border: 1.5px solid #a1d2e6;
    box-shadow: 0 0 10px #e3e3e3;
}

::placeholder{
    color:#a3a3a3;
}
::-webkit-input-placeholder{
    color:#a3a3a3;
}
:-ms-input-placeholder{
    color:#a3a3a3;
}
::-moz-placeholder{
    color:#a3a3a3;
}
.agree-checkbox{
    width:20%;
}

.agree-checkbox, label{
    font-weight: 600;
}

p{
    margin-left:3em;
}

span{
    background-color: #2655ee;
    padding: 0 0.3em;
    color:white;
    font-size: 14px;
}

a{
    text-decoration: none;
    color:#3487a8;
}
input[type="button"]{
    font-size:20px;
    color:white;
    padding: 0.5em 1.5em;
    border:none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    margin:0.5em;
}
label{
    cursor: pointer;
}
input[type="button"]:first-of-type{
    background-color:#2655ee;
}
input[type="button"]:first-of-type:hover{
    background-color: #1d378c;
}

input[type="button"]:nth-of-type(2){
    background-color:#46A049;
}
input[type="button"]:nth-of-type(2):hover{
    background-color:#3e8541;
}


@media only screen 
  and (max-device-width: 1024px) 
  and (min-device-width: 501px) {
      body{
          font-size:16px;
      }
      .container{
          width: 70%;
      }
      input[type='text']{
        font-size: 16px;
    }
      .agree-checkbox{
        width:40%;
    }
    input[type="button"]{
        font-size:16px;
        padding: 0.5em 1em;
    }

}


@media only screen 
  and (max-device-width: 500px)  { 
    .container{
        width: 90%;
    }
    .row{
        margin: 0;
    }
    .row:nth-of-type(n+5){
        margin:1em;
    }
    input[type='text']{
        font-size:16px;
    }
    .agree-checkbox{
        width:40%;
    }
    .agree-checkbox, label{
        font-size: 14px;
        width:100%;
    }
    p{
        margin-left: 1.5em;
        font-size: 14px;
    }
    input[type="button"]{
        font-size:16px;
        padding: 0.5em 1em;
    }

}
