h1,
h2,
h3 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

p{
  font: bold;
  font-style: italic;
  text-decoration: underline;
}

a{
  text-decoration: none;
}

u{
  text-decoration: none;
}

body{
  min-width: 300px;
  margin: 0;
  background-color: #f9f9f9;
}

.container {
  display: grid;
  grid-gap: 0.2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.5fr 1.5fr 0.2fr;
  grid-template-areas:
    "nav nav"
    "content1 content2"
    "content3 content4"
    "content5 content6"
    "footer footer";
}

.navbar {
  line-height: 1;
  grid-area: nav;
  margin: 0;
  background-color: #f9f9f9;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
  color: black;
}

.blog-header-logo:hover {
  text-decoration: none;
}

.content1 {
  grid-area: content1;
}
.content2 {
  grid-area: content2;
}
.content3 {
  grid-area: content3;
}
.content4 {
  grid-area: content4;
}
.content5 {
  grid-area: content5;
}
.content6 {
  grid-area: content6;
}
.footer {
  grid-area: footer;
}

@media (max-width: 750px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 0.5fr;
    grid-template-areas:
      "nav"
      "content1"
      "content2"
      "content3"
      "content4"
      "content5"
      "content6"
      "footer";
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

/*
   * Blog name and description
   */
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
   * Blog posts
   */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: 0.25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}



.blog-footer {
  padding: 1rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  margin: 0;
}
.blog-footer div:last-child {
  margin-bottom: 0;
}