/* css reset */

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

header{
  background-color: rgb(13, 131, 133);
  height: 50px;
  text-align: center;
  padding: 20px;
}

header input {
  width: 300px;
  border-radius: 25px;
}

.content {
  padding: 0 100px;
}

.content.title {
  text-align: center;
  margin-top: 30px;
}
