* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  font-size: 1.2rem;
  box-sizing: inherit;
  width: 100%;

  display: flex;
  justify-content: center;
  height: 100%;
}

ul,
li {
  list-style: none;
}

.App {
  width: 99vh;
  height: 90vh;
  overflow: auto;
  border: 1px solid #018080;
}
.container {
  /* border-bottom: 1px solid #018080; */
  width: 97%;
  /* margin: 0 30px; */
}


/* navbar - search */

.nav {
  display: flex;
  background-color: #018080;
  /* width: 100%; */
  /* box-sizing: border-box; */
  height: 50px;
  align-items: center;
  /* position: fixed; */
  /* display: flex; */
}

.nav {
  margin: 0px 10px;
  display: flex;

}

#searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
