header {
  background: teal;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  padding: 5px 10px;
  border-radius: 15px;
  border: none;
  width: 20%;
  min-width: 230px;
  background-color: #f0eeee;
}

main {
  display: flex;
  justify-content: center;
}

.search-result {
  width: 80%;
}

.album-list {
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 10px;
}

.title {
  width: 90%;
  padding: 1rem;
  color: #333;
  font-size: 1.5rem;
  text-align: center;
  border-bottom: 1px solid teal;
  margin: auto;
}

.album {
  list-style: none;
  border: 1px solid lightblue;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(219, 219, 219);
}

.album-image {
  width: 100%;
  padding: 0.3rem;
}

.album-name {
  text-align: center;
  padding: 0 0.3rem 0.3rem;
  width: 100%;
  height: 100%;
  font-size: 0.7rem;
  word-wrap: break-word;
}

.fallback-container {
  display: flex;
  justify-content: center;
}
