
body {
  margin: 0;
  background: linear-gradient(
    to right,
    rgb(207, 212, 226) 0%,
    rgb(132, 173, 189) 100%
  );
  width:100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
