*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.contaner{
    padding: 200px 500px;
    /* background-color: cadetblue; */
}
.title-text{
    border-color: black;
    /* border-style: solid; */
    text-align: center;
}

.grid-box{
    /* border-style: solid; */
    padding: 30px 50px 5px;
    display: grid;
    /* 指定每一列的列寬, 分三個數值就表示這個列有三個元素 */
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;

}
.grid-box-one-three{
    /* border-style: solid; */
    padding: 30px 10px;
    display: grid;
    /* 指定每一列的列寬, 分三個數值就表示這個列有三個元素 */
    grid-template-columns: 20% 80%;
  
}
.full-col{
    grid-column-start: 1;
    grid-column-end: 3;
}

.checkbox{
    display: flex;
}

.box input{
    border-radius: 8px;
    border-color: rgb(247, 247, 247);
    width: 100%;
    height: 45px;
    padding-left: 30px;
    font-size: medium;
}

#register{
    background-color: rgb(7, 133, 252);
    color: aliceblue; 
    border-radius: 5px;
    padding: 3px;
}
#btn-register{
    height: 50px;
    border-radius: 5px;
    background-color: rgb(0, 140, 255);
    color: aliceblue;
    border-style: none;
    font-size: large;
}
#btn-sign{
    height: 50px;
    border-radius: 5px;
    background-color:rgb(44, 143, 44);
    color: aliceblue;
    border-style: none;
    font-size: large;
}