.result__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    
    flex-wrap: wrap;
}

.result__title {
    text-align: center;
    border-bottom: 1px solid black;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result__content{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}