td, th {
    border: 1px solid #504e4e;
    text-align: left;
    padding: 8px;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  h1{
      display:flex;
      justify-content: center;
      align-items: center;
  }