*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  div[class^='parent-']{
    background-color:violet;
  }
  div[class^='child-']{
    width:200px;
    height:200px;
    background-color: blueviolet;
    font-size:48px;
    font-weight:bold;
    text-align:center;
    padding:60px 0;
  }
  
  /*relative parent and absolute child*/
  .parent-1{
    position:relative;
    left:30px;
    top:30px;  
  }
  .child-relative{
    position:absolute;
    top:10%;
    left:10%;
  }