.card-container{
    width: 120px; 
    height: 180px; 
    margin: 10px 20px;
    border: 1px green solid;
}

.card-img{
    width: 100%;
    text-align: center; 
    padding: 5px 0;
}
.card-title{
    text-align: center;
    width: 100%;
    font-size: 12px; 
    font-weight: bold;
}
