.card {
    background-color: #f0eeee;
    border: 1px solid teal;
    border-radius: 3px;
    flex: 0 0 10rem;
    margin: 1rem;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 14px 28px teal, 0 10px 10px teal;
}

.card__img {
    margin: 0.5rem auto;
    padding: 0.5rem ;
    display: block;
}

.card__content {
    color: #333;
    text-align: center;
    padding: 0 .5rem .5rem;
    font-size: 1.2rem;
    font-weight: 700;
}